body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50px;
  background-color: #f5f5f5;
}

button {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
